@use "./util.scss" as *;

body {
  --background: white;
  --text-color: black;
  --accent-color: #13474b;
  --link-color: #008383;

  @include dark {
    --background: #202124;
    --text-color: white;
    --accent-color: #a3d5d6;
    --link-color: #42b8b8;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
}
